[Unit]
Description = "A Service to make infoboard accessible"
After = network.target

[Service]
Type=simple
WorkingDirectory=/opt/infoboard
ExecStart = .venv/bin/fastapi run app.py
User = infoboard
Restart = on-failure
SyslogIdentifier = 
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy=multi-user.target
